In [1]:
1+1

2

In [2]:
print("Hello World")

Hello World

# H1
## H2
### H3

In [3]:
import pandas as pd

# Direct link to the CSV file
url = 'https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat'

# Load the dataset into a pandas DataFrame
flight_data = pd.read_csv(url)

# Display the first few rows
flight_data.head()

   2B  410  AER  2965  KZN  2990 Unnamed: 6  0  CR2
0  2B  410  ASF  2966  KZN  2990        NaN  0  CR2
1  2B  410  ASF  2966  MRV  2962        NaN  0  CR2
2  2B  410  CEK  2968  KZN  2990        NaN  0  CR2
3  2B  410  CEK  2968  OVB  4078        NaN  0  CR2
4  2B  410  DME  4029  KZN  2990        NaN  0  CR2

Sure! Here’s a summary of our interaction:

https://chatgpt.com/share/3a41449c-4f49-4f3f-835e-df577d643850

---

**Summary of Interaction**

**Objective:**
User requested assistance with loading and processing flight information datasets, including handling missing values.

**Details:**

1. **Dataset Handling:**
   - **Initial Request:** User wanted a script to load flight information that includes missing values into a notebook.
   - **Provided Script:** A Python script using pandas was provided to:
     - Load flight data from a CSV file.
     - Display basic information and summary statistics.
     - Handle missing values by either dropping rows or filling them with mean values.
     - Save the cleaned datasets to new CSV files.

2. **Use of Online Dataset:**
   - **Updated Request:** User specified the use of an online dataset from the provided URL: `'https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat'`.
   - **Modified Script:** An updated script was provided to:
     - Load the dataset directly from the URL.
     - Adjust columns and names to match the dataset’s structure.
     - Handle missing values by either dropping rows or filling them with 'Unknown' for non-numeric columns.
     - Save the processed datasets to new CSV files.

**Additional Notes:**
- The provided scripts use the pandas library for data manipulation and require adjustment based on specific dataset structures and handling preferences.

---

Feel free to adjust or expand this summary based on any additional requirements or details you need to include!

In [4]:
# Check for missing values
missing_data = flight_data.isnull().sum()

# Display missing data summary
print(missing_data)

# Optionally, check the total number of missing values
total_missing = flight_data.isnull().sum().sum()
print(f'Total missing values: {total_missing}')

2B                0
410               0
AER               0
2965              0
KZN               0
2990              0
Unnamed: 6    53065
0                 0
CR2              18
dtype: int64
Total missing values: 53083